{% extends 'layouts/signin.html' %}
{% block title %}Login{% endblock %}

{% block jquery %}

{% endblock %}

{% block logform %}
  <div class="row" style="padding: 220px">
  <form class="col s10 offset-s1 l6 offset-l3" style="background-color: #f7f7f7; border: 1px solid #000; padding-bottom: 20px" name="login">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="user_name" type="text" class="validate">
        <label for="user_name">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" style="background-color: pink; width: 100%;" type="submit" name="action">Submit
     <i class="material-icons right">send</i>
   </button>
  </form>
  </div>
{% endblock %}
{% block footer %}
  <-- FOOTER -->
{% endblock %}
