{% extends 'layouts/signin.html' %}
{% block title %}Login{% endblock %}

{% block logform %}
  <div class="row" style="padding-top: 220px">
  <form class="col s10 offset-s1 l6 offset-l3" style="background-color: #f7f7f7; border: 1px solid #000; padding-top: 12px;" name="login" id="login">
    <div class="row" style="border-radius: 5px; border: 1px solid #000">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input name="user_name" id="user_name" type="text" class="validate">
        <label for="user_name">User Name</label>
      </div>
    </div>
    <div class="row" style="border-radius: 5px; border: 1px solid #000">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" style="background-color: pink; width: 100%; border-radius: 5px;" id="submit" type="submit" name="action">Submit
       <i class="material-icons right">send</i>
     </button>
   </div>
   <div id="result"></div>
  </form>
  </div>
{% endblock %}
{% block footer %}
  <-- FOOTER -->
{% endblock %}
