* {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: #fff;
}

.input-field {
  /*border: 1px solid #000;*/
    background-color: #e1e1e1;
}

.row {
  margin-left: auto;
  margin-right: auto;
}
